@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
@model ResetPasswordModel
<section class="sub-section wb-profile password-change">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pagetitle">Change Your Password</h2>
            </div>

        <form class="change-password" id="formChangePassword">
            <div class="col-md-12 text-center">
                <span class="loginerroemsg"></span>
            </div>
            <div class="form-div modal-custom edit-profile">

                <div class="col-sm-4">
                <div class="form-group">
                    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                    @Html.ValidationMessageFor(X => X.NewPassword)
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control",@placeholder = "Confirm New Password" })
                    @Html.ValidationMessageFor(X => X.ConfirmPassword)
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group btnns changepassword">
                    <a href="javascript:" class="next-div btn btn-primary" id="savePassword">Save Password</a>
                </div>
            </div>

            </div>
        </form>
    </div>
</div>
</section>

@section scripts{
    <script src="~/Scripts/UserDashboardScripts/Profile.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
        var siteURL = {
            UpdateProfileDetails: '@Url.Action("UpdateProfileDetails", "Home", new { area = "user" })',
            StateByCountry: '@Url.Action("StateByCountry", "Home", new { area = "" })',
            CityByState: '@Url.Action("CityByState", "Home", new { area = "" })',
            UpdatePassword: '@Url.Action("UpdatePassword", "Home", new { area = "user" })',
            Signout: '@Url.Action("Signout", "Base", new { area = "" })'

        }
    </script>

}